/*
 * VARIABLES
*/

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

$font-main: 'Roboto', sans-serif;
$font-headline: 'Open Sans', sans-serif;

$dark: #000;
$light: #fff;
$brand-color1: gold;
$brand-color2: mistyrose;
